@import "../../vars.css";

.navbar {
  position: fixed;
  top: 0; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px; 
  padding-bottom: 20px; 
  background-color: #21635d; 
  z-index: 1000; 
  margin: 0;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10%;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  margin-left: -5%;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-left: 42%;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(60deg, #21635d 0%, #51a7a0 90%);
    padding: 24px 33px;
    box-shadow: 0 16px 14px 0 #21635d;
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
